.profile-img{
    width:250px;
    height:250px;
    border-radius:50%;
    object-fit:cover;
    object-position:center Top;
    border:6px solid #38bdf8;
    box-shadow:0 0 30px rgba(56,189,248,.8);
}
.about-container{
    max-width:800px;
    margin:auto;
    text-align:center;
}

.about-text p{
    font-size:20px;
    line-height:1.8;
    margin-bottom:30px;
    color:#d1d5db;
}
.about-text{
    max-width:800px;
    margin:auto;
    text-align:center;
    
    
    
}
.skill-box{
    max-width:700px;
    margin:auto;
}

.skill-box p{
    display:flex;
    justify-content:space-between;
    margin:15px 0 5px;
    color:white;
    font-weight:bold;
}

.progress{
    width:100%;
    height:20px;
    background:red;
    border-radius:10px;
    overflow:hidden;
    margin-bottom:20px;
}

.progress div{
    height:20px;
    background:lime;
}

.html{width:95%;}
.css{width:90%;}
.javascript{width:85%;}

